.btn-primary:hover {
    background-color: $danger;
    color: $white;
}

.btn-outline-secondary:hover {
    background-color: $primary;
    border: 0;
    & > .custom-heart {
        color: $danger;
    }
}

