.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $text-dark;
  font-weight: bold;
  background-color: #fff;
  border-bottom: 1px solid $primary;
}

.nav-link {
    color: $text-dark;
}