.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-link.active {
  color: $text-dark;
  font-weight: bold;
  background-color: #fff;
  border-bottom: 1px solid $primary;
}

.nav-tabs .nav-item .nav-link {
    color: $text-dark;
}

.nav-tabs .nav-item .nav-link:hover {
    border: 0;
    color: $text-dark;
}